html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background: lightblue;
}

#fry {
	width: 100%;
	height: 335px;
	background-image: url(fry.png);
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#pug {
	background-image: url(pup.png);
	background-size: cover;
	width: 326px;
	height: 370px;
	position: absolute;
	right: calc(50% - 326px/2);
	top: 50px;
}